Отчет по лабораторной номер 2
Панкеев Глеб Сергеевич 6212-100503Д

В ходе ладобраторной работы были выполенены следующие этапы и полученны еследующие разультаты;
1) Результат выполнения первой части задания
Сгенерированная случайная последовательность

11111110110011100100110000001100000001010101011101100101010110100000000100010011010000100001110001010110110101000111101010100111

Программный код генерации находится в файле task1

2) Результат выполнения второй части задания:
Программные коды тестов находятся в файлах task 2.1 и так далее, в соответсвии с порядком NIST из методички


Рассчитанные результаты тестов и полученные значения
-Частотный побитовый тест. (P = 0.3767591178115822)
-Тест на одинаковые подряд идущие биты. (P = 0.6706894158999841)
-Тест на самую длинную последовательность единиц в блоке. (P = 0.86552955)

Вывод: основываясь на полученных результатах отметить что в первой части задания спомощью ГСПЧ кода на С++
у нас получилось сгенироровать 128-битную бинарную псевдослучайную последовательность 
так как по результатам 3х NIST последовательность прошла проверки. Фотографии с рядом расчетов прикрепляю 
